<footer class="jumbotron jumbotron-fluid bg-dark mb-0 mt-5">
    <p class="text-center">&reg; Todos Direitos Reservados. Criado com <a href="#">Bootstrap</a> <!-- e <i class="fas fa-heart"></i></p> -->
    <h1 class="text-center">
        <a href="https://github.com/{{ site.github }}" style="color:#fff;" target="_blank"><i class="fab fa-github"></i></a>
         <a href="https://twitter.com/{{ site.twitter }}" style="color:#fff;" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://pt.quora.com/{{ site.quora }}" 
style="color:#fff;" target="_blank"><i class="fab fa-quora"></i></a>
    </h1>
</footer>
