<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="/assets/img/logo.png" width="40" height="40" class="img-fluid" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-house-damage"></i> Inicio
                    </a>
                </li>

		<li class="nav-item">
       		  <a class="nav-link" href="#">
			<i class="far fa-newspaper"></i> Artigos</a>
      		</li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-address-card"></i> Sobre
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="contato">
                        <i class="fas fa-globe"></i> Contato
                    </a>
                </li>

            </ul>

		<form class="form-inline my-2 my-lg-0">
     		 <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
     		 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    		</form>

        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid intro mt-4">
      <div class="container">
          <div class="row">

             <div class="col text-center">
                 <h1>{{ page.title }}</h1>
                 <h4>{{ page.description }}</h4>
		 <!--      <time>{{ page.date | date: "%b, %-d %Y" }}</time> -->
             </div>

          </div>

      </div>
    </div>

</header>
