
    
      <div class="container">
<!-- <h1 class="text-center">
        <i class="fas fa-address-card"></i> Sobre
</h1> -->
    <hr>
          <div class="row" style="background-color: #eee;">

              <div class="col-sm-6">
	<img class="rounded-circle img-thumbnail" src="/assets/img/eu.jpg" alt="Marcos Oliveira" title="Marcos Oliveira" width="150" height="150">
              </div>

              <div class="col-xl-7">
	<h2>
	<br>Marcos V Oliveira
	<br><i style="font-size:13px;">Mestrando Ensino de Física | MNPEF</i>
	<br><a style="font-weight:bold;color:#204a87;font-size:18px;">Professor de Física</a>
    				
	</h2>
              </div>

              <div class="col-sm-6 col-md-5 col-xl-5">
 <h4>
		<span style="font-size:30px;">Conteúdos Sobre</span>
  </h4>

		<div class="d-flex flex-column mb-3">
<h4>
     <div class="p-2 bd-highlight">
<i class="fas fa-atom"></i> Ensino de física
     </div>
     <div class="p-2 bd-highlight">
<i class="fas fa-user-astronaut"></i> Ensino de Astronomia
     </div>
     <div class="p-2 bd-highlight">
<i class="fas fa-meteor"></i> Astrofísica e Cosmologia
     </div>
</h4>
		</div>
              </div>


          </div>

      </div>
    







